.p-4
    %span Buscador
    %i.fa.fa-plus#new-note
.row.p-4
    .col-sm-2#note-form
        .card.bg-light.mb-3{:style => "max-width: 18rem;"}
            .card-header Header
            .card-body
                %h5.card-title Light card title
                %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    .col-sm-2
        .card.bg-light.mb-3{:style => "max-width: 18rem;"}
            .card-header Header
            .card-body
                %h5.card-title Light card title
                %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
