/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "bootstrap";
@import "font-awesome";
@import "toastr";

body{
    font-family: 'Montserrat', sans-serif;
}
.font-white, .font-white:hover{
    color: white;
}
.error{
    color: red;
}
.color-black, .color-black:hover{
    color: black;
}
.login-page{
    background: #d2d6de;
    .login-box{
        width: 360px;
        margin: 7% auto;
        .login-logo{
            font-size: 35px;
            text-align: center;
            margin-bottom: 25px;
            font-weight: 300;
        }
        .login-box-body{
            background: #fff;
            padding: 20px;
            border-top: 0;
            color: #666;
            .login-sign-in-message{
                margin: 0;
                text-align: center;
                padding: 0 20px 20px 20px;
            }
        }
    }
}
